body
{

    text-align: center;
    background-color: rgb(255, 209, 209);
    background-image: url( ' https://pic.sucaibar.com/pic/201612/01/9b5e81165a.jpg ' );
    font-family: "Segoe UI","微軟正黑體",sans-serif;
}
